/projetoIntegrado/nbproject/private/
/projetoIntegrado/build/
/AtvAvaliativa/nbproject/private/
/AtvAvaliativa/build/
/AtvAvaliativa/dist/
/agenciaBancaria/nbproject/private/
/agenciaBancaria/build/
/agenciaBancaria/dist/
/projetoIntegrado/dist/
